dist: trusty
sudo: false

matrix:
  include:
    - python: 2.7
    - python: 3.4
    - python: 3.5
    - python: 3.6
    - python: 3.7
      dist: xenial
      sudo: true

install:
  - pip install -r requirements.txt
  - pip install pytest pytest-cov codecov flake8

script:
  - pytest --cov=webssh
  - flake8

after_success:
  - codecov
