dist: xenial
language: python

python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.7"

install:
  - pip install -r requirements.txt
  - pip install pytest pytest-cov codecov flake8
  - if [[ $TRAVIS_PYTHON_VERSION == '2.7' ]]; then pip install mock; fi

script:
  - pytest --cov=webssh
  - flake8

after_success:
  - codecov
