# https://beta.ruff.rs
name: python
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: pip install --user ruff
      - run: ruff --format=github --ignore=F401 --target-version=py38 .
  pytest:
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11"]  # , "pypy-3.9"]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      # - run: pip install --upgrade pip setuptools wheel
      - run: pip install pytest -r requirements.txt  # cov pytest-cov
      - run: pytest  #  --cov=webssh
